﻿ #droparea {
  border: 2px dashed #ccc;
}
#droparea.highlight {
  border-color: purple;
  
}
p {
  margin-top: 5px;
  text-align:center;
}
#my-form {
  text-align:center;
 
}
 #gallery {
  margin-top: 10px;
}
#gallery img {
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.draggable{
	width:150px;
	height:150px;
}
.button {
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border: 1px solid #1E90FF;
  margin-bottom:10px;
  margin-left:611px;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
.title{
margin-top:20px;
}
.text{
margin-top:20px;
}
.droppable{
	list-style:none;
	display:inline-block;
	width:150px;
	height:150px;
	border:1px solid #ccc;
}

#progress-bar {
  width: 30%;
  text-align:center;
  border: 2px solid;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
  text-align:center;
} 